<div class="cake-margin">
    <h1>{{title}}</h1>
    <p ng-show="accept">Will accept {{numTalks}} talks. Mail will be sent to each speaker and talks will be tagged accepted</p>
    <p ng-show="!accept">Prossessing {{numTalks}} talks.</p>
    <form ng-show="!accept" role="form">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="doSendMail"> Send mail
            </label>
        </div>
        <div class="form-group" ng-show="doSendMail">
            <input class="form-control" type="text" placeholder="subject" ng-model="subject"/>
        </div>
        <div class="form-group"ng-show="doSendMail">
            <textarea class="form-control" ng-model="message" placeholder="message"/>
            <span class="help-block">Write as a template. The following variables are availible<ul>
                <li>#title# The title of the talk</li>
                <li>#speakername# The name of the speaker. If more than one speaker, the names are chained with and</li>
                <li>#talkType# Workshop, presentation or lightning talk</li>
                <li>#slot# The scheduled slot for the talk (ex "September 7 at 13:00", or "No slot allocated"))</li>
                <li>#room# The scheduler room for the talk (ex "Room 7")</li>
            </ul></span>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="doTag"> Tag it
            </label>
        </div>
        <div class="form-group" ng-show="doTag">
            <input class="form-control" type="text" placeholder="Tag to add" ng-model="newtag"/>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="publishUpdates"> Publish updates
            </label>
        </div>
    </form>
    <h3>Will update:</h3>
    <ul>
        <li ng-repeat="talk in talks"><div class="checkbox">
            <label>
                <input type="checkbox" ng-model="talk.wasSelected"> {{talk.title}}
            </label>
        </div></li>
    </ul>
    <button class="btn btn-primary" ng-click="acceptTalks()">Do it</button>
    <table class="table table-bordered">
        <tr ng-repeat="statLine in statusLines" ng-class="lineClass(statLine.status)">
            <td>{{statLine.title}}</td>
            <td>{{statLine.message}}</td>
        </tr>
    </table>
</div>