<div class="cake-margin">
    <h1>Schedule</h1>
    <p></p><button class="btn btn-primary" ng-click="refresh()">Refresh</button></div></p>
    <table class="table table-bordered table-hoover">
        <thead>
        <tr>
            <th>slot\room</th>
            <th ng-repeat="roomname in rooms">{{roomname}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="slot in slots">
            <td>{{slot.name}}</td>
            <td ng-repeat="room in slot.rooms">
                <ul>
                    <li ng-repeat="talk in room.talks">
                        <a ng-href="#/showTalk/{{talk.ref}}" ng-click="talkSelected(talk)">{{talk.title}}</a>
                    </li>
                </ul>
            </td>
        </tr>

        </tbody>
    </table>

</div>