<div>
    <div class="menu">
        <div class="years">
            <a class="year" ng-repeat="event in events" ng-href="#/talks/{{event.slug}}">{{event.name}}</a>
        </div>
        <div class="actions">
            <a class="action" ng-href="#/accept">Accept talks</a>
            <a class="action" ng-href="#/pubdivsh">Publish talks</a>
            <a class="action" ng-href="#/massUpdate">Send mail and/or tag</a>
            <a class="action" ng-href="#/showSchedule">Show schedule</a>
            <a class="action" ng-href="#/report">Report</a>
        </div>
    </div>
    <div class="content">
        <div class="filter-options">
            <div ng-show="showFilters">
                <button class="btn btn-default btn-sm" ng-click="addFilter()">Add filter</button>
                <button class="btn btn-default btn-sm" ng-click="addOpAnd()">And (</button>
                <button class="btn btn-default btn-sm" ng-click="addOpOr()">Or (</button>
                <button class="btn btn-default btn-sm" ng-click="addOpNot()">Not (</button>
                <button class="btn btn-default btn-sm" ng-click="addOpEnd()">)</button>
                <button class="btn btn-danger btn-sm" ng-click="clearAllFilters()">Clear filters</button>
                <button class="btn btn-info btn-sm" ng-click="doHideFilters()">Hide filters</button>
            </div>
            <div ng-show="!showFilters">
                <button class="btn btn-info btn-sm" ng-click="doShowFilters()">Show filters</button>
            </div>
            <div>
                <button class="btn btn-info btn-sm" ng-click="reloadTalks()">Refresh</button>
            </div>
            <div>
                <button class="btn btn-info btn-sm" ng-click="saveFilter()">Save filter</button>
            </div>
            <div><p>Showing {{talks.length}} of {{allTalks.length}}</p></div>
        </div>
        <div class="talk-list">
            <div class="talk-list-row talk-list-row-header">
                <div>Title</div>
                <div>Speaker</div>
                <div>Format</div>
                <div>Lang</div>
                <div>Tags</div>
                <div>Keywords</div>
                <div>State</div>
                <div>Room</div>
                <div>Slot</div>
            </div>
            <div class="talk-list-row" ng-repeat="filter in filters" ng-show="showFilters">
                <div ng-show="!isFilterLine(filter)">{{operatorText(filter)}}</div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.title" ng-change="filterUpdated()"/></div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.speaker" ng-change="filterUpdated()"/></div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.format" ng-change="filterUpdated()"/></div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.language" ng-change="filterUpdated()"/></div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.tag" ng-change="filterUpdated()"/></div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.keyword" ng-change="filterUpdated()"/></div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.state" ng-change="filterUpdated()"/></div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.room" ng-change="filterUpdated()"/></div>
                <div ng-show="isFilterLine(filter)"><input class="form-control" type="text" ng-model="filter.slot" ng-change="filterUpdated()"/></div>
            </div>
            <a class="talk-list-row" ng-repeat="talk in talks" ng-class="talkRowClass(talk)" ng-href="#/showTalk/{{talk.ref}}" ng-click="talkSelected(talk)">
                <div>>{{talk.title}}</div>
                <div>{{speakerList(talk.speakers)}}</div>
                <div>{{talk.format}}</div>
                <div>{{talk.lang}}</div>
                <div>{{joinArrs(talk.tags)}}</div>
                <div>{{joinArrs(talk.keywords)}}</div>
                <div>{{talk.state}}</div>
                <div>{{talk.room.name}}</div>
                <div>{{talk.slot.start}}-{{talk.slot.end}}</div>
            </a>
        </div>
        <h3>Tags used in talks returned from filter:</h3>
        <ul>
            <li ng-repeat="ut in usedTags">{{ut.tagname}} : {{ut.count}}</li>
        </ul>
    </div>
</div>