<form style="page-break-after:always;">
    <div class="form-group">
        <label>
            Title
            <input type="checkbox" ng-model="showTitle">
        </label>
        <label>
            Summary
            <input type="checkbox" ng-model="showSummary">
        </label>
        <label>
            Abstract
            <input type="checkbox" ng-model="showAbstract">
        </label>
        <label>
            Outline
            <input type="checkbox" ng-model="showOutline">
        </label>
        <label>
            Keywords
            <input type="checkbox" ng-model="showKeywords">
        </label>
        <label>
            Audience
            <input type="checkbox" ng-model="showAudience">
        </label>
        <label>
            Equipment
            <input type="checkbox" ng-model="showEquipment">
        </label>
        <label>
            State
            <input type="checkbox" ng-model="showState">
        </label>
        <label>
            Published
            <input type="checkbox" ng-model="showPublished">
        </label>
        <label>
            Format
            <input type="checkbox" ng-model="showFormat">
        </label>
        <label>
            Level
            <input type="checkbox" ng-model="showLevel">
        </label>
        <label>
            Language
            <input type="checkbox" ng-model="showLanguage">
        </label>
        <label>
            Room
            <input type="checkbox" ng-model="showRoom">
        </label>
        <label>
            Slot
            <input type="checkbox" ng-model="showSlot">
        </label>
        <label>
            Tags
            <input type="checkbox" ng-model="showTags">
        </label>
        <label>
            Contact phone
            <input type="checkbox" ng-model="showContactPhone">
        </label>
        <label>
            Speakers
            <input type="checkbox" ng-model="showSpeakers">
        </label>
        <label>
            Speakername
            <input type="checkbox" ng-model="showSpeakername">
        </label>
        <label>
            Speakerbio
            <input type="checkbox" ng-model="showSpeakerbio">
        </label>
        <label>
            Speaker email
            <input type="checkbox" ng-model="showSpeakerEmail">
        </label>
        <label>
            Postcode
            <input type="checkbox" ng-model="showPostcode">
        </label>
        <label>
            LastModified
            <input type="checkbox" ng-model="showLastModified">
        </label>
        <button class="btn btn-default" ng-click="exportCsv()">Export csv</button>
    </div>
</form>
<p><pre>{{exportText}}</pre></p>
<div class="cake-margin" ng-repeat="aTalk in talks" style="page-break-after:always;">
    <h1 ng-show="$parent.showTitle">{{aTalk.title}}</h1>
    <div class="row cake-row" ng-show="$parent.showSummary">
        <div class="col-md-1 cake-margin"><strong>Summary</strong></div>
        <div class="col-md-10 preserve-newlines">{{aTalk.summary}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showAbstract">
        <div class="col-md-1 cake-margin"><strong>Abstract</strong></div>
        <div class="col-md-10 preserve-newlines">{{aTalk.body}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showOutline">
        <div class="col-md-1 cake-margin"><strong>Outline</strong></div>
        <div class="col-md-10 preserve-newlines">{{aTalk.outline}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showKeywords">
        <div class="col-md-1 cake-margin"><strong>Keywords</strong></div>
        <div class="col-md-10">{{joinArr(aTalk.keywords)}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showAudience">
        <div class="col-md-1 cake-margin"><strong>Expected audience</strong></div>
        <div class="col-md-10 preserve-newlines">{{aTalk.audience}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showEquipment">
        <div class="col-md-1 cake-margin"><strong>Equipment</strong></div>
        <div class="col-md-10">{{aTalk.equipment}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showState">
        <div class="col-md-1 cake-margin"><strong>State</strong></div>
        <div class="col-md-10">{{aTalk.state}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showPublished">
        <div class="col-md-1 cake-margin"><strong>Published</strong></div>
        <div class="col-md-10">{{aTalk.published}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showFormat">
        <div class="col-md-1 cake-margin"><strong>Format</strong></div>
        <div class="col-md-10">{{aTalk.format}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showLevel">
        <div class="col-md-1 cake-margin"><strong>Level</strong></div>
        <div class="col-md-10">{{aTalk.level}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showLanguage">
        <div class="col-md-1 cake-margin"><strong>Language</strong></div>
        <div class="col-md-10">{{aTalk.lang}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showRoom">
        <div class="col-md-1 cake-margin"><strong>Room</strong></div>
        <div class="col-md-10">{{aTalk.room.name}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showSlot">
        <div class="col-md-1 cake-margin"><strong>Slot</strong></div>
        <div class="col-md-10">{{aTalk.slot.start}} - {{aTalk.slot.end}} <small>(yymmdd hhmm-yymmdd hhmm)</small></div>
    </div>
    <div class="row cake-row" ng-show="$parent.showTags">
        <div class="col-md-1 cake-margin"><strong>Tags</strong></div>
        <div class="col-md-10">{{aTalk.tags}}</div>
    </div>
    <div class="row cake-row" ng-show="$parent.showContactPhone">
        <div class="col-md-1 cake-margin"><strong>Contact phone</strong></div>
        <div class="col-md-10">{{aTalk.contactPhone}}</div>
    </div>

    <div ng-repeat="speaker in aTalk.speakers" ng-show="$parent.showSpeakers">
        <h3 ng-show="$parent.$parent.showSpeakername">{{speaker.name}}</h3>
        <div class="row cake-row" ng-show="$parent.$parent.showSpeakerEmail">
            <div class="col-md-1 cake-margin"><strong>Email</strong></div>
            <div class="col-md-10">{{speaker.email}}</div>
        </div>
        <div class="row cake-row" ng-show="$parent.$parent.showSpeakerbio">
            <div class="col-md-1 cake-margin"><strong>Bio</strong></div>
            <div class="col-md-10 preserve-newlines">{{speaker.bio}}</div>
        </div>
        <div class="row cake-row" ng-show="$parent.$parent.showPostcode">
            <div class="col-md-1 cake-margin"><strong>Postcode</strong></div>
            <div class="col-md-10">{{speaker["zip-code"]}}</div>
        </div>
    </div>

    <h6 ng-show="$parent.showLastModified">Last modified: {{aTalk.lastModified}}</h6>
    <hr/>
</div>