<div>
    <h1>Ops</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>x</th>
            <th ng-repeat="room in grid.rooms">{{room}}</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in grid.rows">
                <td>{{row.displaySlot}}</td>
                <td ng-repeat="cell in row.cells">
                    <ul>
                        <li ng-repeat="talkInfo in cell.contents">
                            {{talkInfo.title}}
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default" ng-click="openTalk(talkInfo.ref)">View</button>
                                <button type="button" class="btn btn-default" ng-click="setForEdit(talkInfo)">Edit</button>
                                <button type="button" class="btn btn-default" ng-click="moveSchedule(talkInfo.ref,'LEFT')">Left</button>
                                <button type="button" class="btn btn-default" ng-click="moveSchedule(talkInfo.ref,'RIGHT')">Right</button>
                                <button type="button" class="btn btn-default" ng-click="moveSchedule(talkInfo.ref,'UP')">Up</button>
                                <button type="button" class="btn btn-default" ng-click="moveSchedule(talkInfo.ref,'DOWN')">Down</button>
                            </div>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Edit</h2>
    <form class="form-inline">
        <label>{{toEdit.title}}</label>
        <input type="text" placeholder="slot" ng-model="editedSlot"/>
        <input type="text" placeholder="room" ng-model="editedRoom"/>
        <button class="btn btn-default" ng-click="editOneTalk()">Update this talk</button>
    </form>
    <h2>Ems Export</h2>
    <p>
        <button class="btn btn-danger" ng-disabled="emsExportDisabled" ng-click="exportToEms()">
            <span ng-hide="emsExportDisabled">Export to ems</span>
            <span ng-show="emsExportDisabled">Exporting ...</span>
        </button>
    </p>
    <p>{{exportMessage}}</p>
</div>