<div ng-controller="ShowTalkCtrl">
    <h1 class="cake-margin">Title {{aTalk.title}}</h1>
    <div class="well" class="cake-margin-well">
        <p>
        <input ng-model="newTag" type="text" placeholder="New tag"/>
        <button class="btn" ng-click="newTagTyped()">Add</button>
        <select ng-model="selectedTag" ng-change="tagSelected()">
            <option>Ja</option>
            <option>Nei</option>
            <option>Kanskje</option>
            <option>Test</option>
        </select>
        </p>
        <h3>
            <span ng-repeat="tag in aTalk.tags" class="label label-info" style="margin-right: 0.2em">{{tag}} <a ng-click="removeTag(tag)">(x)</a></span>
        </h3>
    </div>
    <p><button id="saveButton" class="btn btn-danger btn-lg cake-margin" ng-click="saveTalk()">Save</button></p>
    <h6>Last modified: {{aTalk.lastModified}}</h6>
</div>