<div ng-controller="ShowTalkCtrl">
    <h1>Title {{aTalk.title}}</h1>
    <div class="well" style="margin-left: 3%; margin-right: 10%">
        <p>
        <input ng-model="newTag" type="text" placeholder="New tag"/>
        <button class="btn" ng-click="newTagTyped()">Add</button>
        <select ng-model="selectedTag" ng-change="tagSelected()">
            <option>Ja</option>
            <option>Nei</option>
            <option>Kanskje</option>
            <option>Test</option>
        </select>
        </p>
        <h3>
            <span ng-repeat="tag in aTalk.tags" class="label label-info" style="margin-right: 0.2em">{{tag}} <span ng-click="removeTag(tag)">(x)</span></span>
        </h3>
    </div>
</div>